<div class="footer">
    <div class="copyright">
        Copyright © 2020 StudentGator All rights reserved.
</div>
<div class="social">
    Follow us

    <img   src="../../assets/Images/Icon awesome-facebook-square.svg">
    <img  src="../../assets/Images/Icon awesome-linkedin.svg">
    <img  src="../../assets/Images/Icon awesome-twitter-square.svg">
    <img  src="../../assets/Images/Icon awesome-discord.svg">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;

    Terms & conditions 
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;

    Privacy policy

</div>
</div>