<div class="backlogo">
    <div class="search">
        <div class="searchbox">
            <input type="text" class="textlearn" value="What do you want to learn?">
            <select class="compocity" #city (change)="filiterbycity(city.value)">
                <option value="" selected="false">Write or choose city</option>
                <option *ngFor="let item of this.arraycity" [value]="item">{{item}}</option>


            </select>


            <input type="button" class="searchbutton" value="Search">
        </div>
    </div>
    <div class="maincomp">
        <div class="formcontent">






            <label class="label"> City</label>
            <form>

                <select class="dropdowns" #valcity (change)="citycollect(valcity.value)">
                    <option value="" selected="false">Choose one city or more </option>

                    <option *ngFor="let item of this.arraycity" [value]="item">{{item}}</option>
                </select>
                <div class="temp" *ngFor="let item of this.savedcitiy"> {{item}} <img  class="img"
                        (click)="citydelete(item)" src="../../assets/Images/Iconmaterial-close.png">
                </div>
                <div></div>
                <label class="label"> Program</label>




                <div>
                    <label> <input  (click)="getdegr(one.value)"   #one  class="check" name="TypeProg" type="radio"  value="Bachelor">
                        <span class="checklabel">Bachelor</span></label>
                </div>
                <div>
                    <label> <input   (click)="getdegr(two.value)"  #two class="check" name="TypeProg" type="radio" value="Master">
                        <span class="checklabel">Master</span></label>
                </div>
                <div>
                    <label> <input (click)="getdegr(three.value)" #three class="check" name="TypeProg"   type="radio" value="MIM">
                        <span class="checklabel">MBA</span></label>
                </div>
                <div>
                    <label> <input (click)="getdegr(four.value)" #four class="check " name="TypeProg" type="radio" value="Msc">
                        <span class="checklabel">PhD</span></label>
                </div>



                <label class="label"> Field</label>
                <select class="dropdowns" #valfield (change)="fieldcollect(valfield .value)">
                    <option value="" selected="false">Choose one city or more </option>

                    <option *ngFor="let item of this.arrayfield" [value]="item">{{item}}</option>
                </select>
                <div class="temp" *ngFor="let item of this.savedfield"> {{item}} <img class="img"
                    (click)="fielddelete(item)" src="../../assets/Images/Iconmaterial-close.png"> </div>
                    <div></div>

                <label class="label"> Schools</label>
                <select class="dropdowns" #valschool (change)="schoolcollect(valschool.value)">
                    <option value="" selected="false">Choose one city or more </option>

                    <option *ngFor="let item of this.arrayschool" [value]="item">{{item}}</option>
                </select>
                <div class="temp" *ngFor="let item of this.savedschool"> {{item}} <img #delimg class="img"
                        (click)="schooldelete(item)" src="../../assets/Images/Iconmaterial-close.png"> </div>
                        <div></div>

                <label class="label"> Language</label>

                <p>
                    <label>
                        <input class="check" (click)="getlang(english.value)" name="lang" type="radio" #english value="English">
                        <span class="checklabel">English</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input (click)="getlang(French.value)"  #French class="check" name="lang" type="radio" value="French">
                        <span class="checklabel"> French</span>
                    </label>
                </p>
                <label class="label"> Sort</label>

                <p>
                    <label>
                        <input (click)="getsort(low.value)" #low class="check" (click)="getdegr(low.value)" name="sort" type="radio" value="low">
                        <span class="checklabel">Price: low to high</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input (click)="getsort(high.value)" class="check" #high name="sort" type="radio" value="high">
                        <span class="checklabel">Price: high to low</span>
                    </label>
                </p>
                <input  type="submit"  class="filter" value="Filter" (click)="filterdata()" >
            </form>
        </div>
        <app-data class="navbarlocation" [valu]="this.valu">
        </app-data>
    </div>



</div>