
    <div class="bar">


        <div class="row border" *ngFor="let item of this.valu">

            <div class="col-2">
                <div class="imageback"><img class="img" src="../../assets/Images/{{item.school}}.png"
                        alt="{{item.school}}">
                </div>
            </div>
            <div class="col-8">
                <div class="data">{{item.Name}}</div>
                <div class="row">
                    <div class="col-12">
                        <div class="data2"> {{item.type}} </div>
                    </div>
                </div>
             
                <div class="row money">

                    <div class="fees">TUITION FEE</div>
                    <div class="price">{{item.fee}} Per Year</div>
                    <div class="nan">{{item.city}}</div>
                    <button class="moreinfo">See more</button>


                </div>
            </div>

        </div>

     
    </div>
    <div class="scroll">
    </div>
    <div class="backlog"></div>
